---
import { cn } from '@lib/utils';
import { MAX_WIDTH } from '@constants/layout';

const { className } = Astro.props;
---

<div class="flex flex-col">
  <slot name="cover" />
  <div class={cn('mx-auto md:mx-0 flex w-full items-start justify-center md:w-full', MAX_WIDTH.content, className)}>
    <slot name="sider" />
    <div class="flex min-w-0 grow flex-col gap-8 md:w-full">
      <slot />
      <slot name="footer" />
    </div>
  </div>
</div>
