---
import HomeSider from '@components/layout/HomeSider.astro';
import Cover from '@components/ui/cover/Cover.astro';
import TwoColumnLayout from '@components/layout/TwoColumnLayout.astro';
import LayoutFooter from '@components/layout/LayoutFooter';
import { CONTENT_PADDING } from '@constants/layout';
import { blogSeoConfig } from '@/config/blogLayoutConfig';
import Layout from './Layout.astro';
import GiscusComments from '@/components/common/GiscusComments';
import { getLayoutFooterData } from '@lib/layout/footer-data';

export interface Props {
  frontmatter: {
    title: string;
    description?: string;
  };
}

const { frontmatter } = Astro.props;
const layoutFooterData = await getLayoutFooterData();
---

<Layout title={`${frontmatter.title} | ${blogSeoConfig.title}`}>
  <TwoColumnLayout>
    <Cover slot="cover" title="关于我" />
    <HomeSider slot="sider" />
    <LayoutFooter slot="footer" {...layoutFooterData} />
    <div class={`shadow-box bg-gradient-start mx-0 flex w-full flex-col gap-8 ${CONTENT_PADDING.standard}`}>
      <div class=`prose md:prose-sm dark:prose-invert`>
        <slot />
      </div>
      <GiscusComments client:load />
    </div>
  </TwoColumnLayout>
</Layout>
